body {
    background: #efe;
    margin: 0 4em 4em;
    font-family: Verdana, Geneva, sans-serif;
}

body nav {
    border-radius: 0em 0em 2em 2em;
    padding: 1em;
    background: #8a8;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

body nav table tr td {
    background: #8c8;
    width: 1em;
    margin: 0;
    text-align: center;
    border-radius: 4em;
    padding: 2em;
}

@media only screen and (max-width: 600px) {
    body .columnar .crow {
        width: 48em;
    }
}
body .columnar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

body .columnar .crow {
    margin: 2em 2em 0em 2em;
    padding: 4em;
    border-radius: 4em;
    width: 24em;
}

body .columnar main {
    background: #088;
}
body .columnar aside {
    background: #4c8;
}