body {
    background-color: #797;
    font-family: Verdana, Geneva, sans-serif;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body a {
    text-decoration: none;
}

body nav {
    border-radius: 2em;
    background-color: #4c4;
    padding: 1em;
    width: 20em;
    margin: 2em;
    float: left;
}

body nav ul {
    list-style-type: none;
}

body nav ul li {
    border-radius: 1em;
    background-color: #7c7;
    margin: 0;
    width: 12em;
    padding: 1em;
    text-align: center;
}

body main {
    border-radius: 2em;
    background-color: #484;
    width: 38em;
    padding: 2em;
    margin: 2em;
    height: 24em;
    float: right;
}

body aside {
    border-radius: 2em;
    background-color: #8c8;
    width: 64em;
    margin: 2em;
    padding: 2em;
    float: left;
}